In [1]:
import pandas as pd
import numpy as np

import re

In [2]:
subject = 'abc'

In [3]:
re.findall(r'a', subject)

['a']

In [4]:
re.findall(r'd', subject)

[]

In [5]:
subject = 'c 1'

In [10]:
re.findall(r'\D\W\d', subject)

['c 1']

In [11]:
re.findall(r'\w\s.', subject)

['c 1']

In [9]:
re.findall(r'...', subject)

['c 1']

In [24]:
subject = '''
Codeup, founded in 2014, is located at 600 Navarro St. 
Suite 350, San Antonio, TX 78230. 
tagline: "launch your career in tech!" 
You can find us online at http://codeup.com 
and our alumni portal is located at https://alumni.codeup.com 
and "codeup is a great school"!
'''

subject = subject.replace('\n','')
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com and "codeup is a great school"!'

In [13]:
#Find all numbers

re.findall(r'\d+', subject)

['2014', '600', '350', '78230']

In [14]:
#Find the number that has exactly 5 digits

re.findall(r'\d{5}', subject)

['78230']

In [15]:
#Find numbers that has 4 or more digits

re.findall(r'\d{4,}', subject)

['2014', '78230']

In [21]:
#Find sentences contained in quotes

re.findall(r'".+?"', subject)

['"launch your career in tech!"', '"codeup is a great school"']

In [19]:
#Find http:// or https://

re.findall(r'https?://', subject)

['http://', 'https://']

In [25]:
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com and "codeup is a great school"!'

In [26]:
#Find any even digits (regardless if it's a part of a bigger number)

re.findall(r'[02468]', subject)

['2', '0', '4', '6', '0', '0', '0', '8', '2', '0']

In [29]:
#Find entire numbers taht are even

re.findall(r'\d+[02468]\b', subject)

['2014', '600', '350', '78230']

In [31]:
#Find 2 or more odd digits in a row

re.findall(r'[13579]{2,}', subject)

['35']

In [37]:
#Find all the capital letters

#cap = ABCDEFGHIJKLMNOPQRSTUVWXYZ

re.findall(r'[A-Z]', subject)

['C', 'N', 'S', 'S', 'S', 'A', 'T', 'X', 'Y']

In [38]:
#Find all words that start with a capital letter

re.findall(r'\b[A-Z]\w+', subject)

['Codeup', 'Navarro', 'St', 'Suite', 'San', 'Antonio', 'TX', 'You']

# Acquisition

In [1]:
import unicodedata
import re
import json
import nltk

import pandas as pd

import acquire

from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

In [2]:
string = 'Одну из самых крупных и известных всемирных экозащитных организаций «Фонд дикой природы» с чёрно-белым тростниковым мишкой и буквами WWF на логотипе объявили нежелательной в России. Решение приняла Генпрокуратура. В ведомстве считают, что о природе фонд заботится только для отвода глаз.'

In [3]:
string

'Одну из самых крупных и известных всемирных экозащитных организаций «Фонд дикой природы» с чёрно-белым тростниковым мишкой и буквами WWF на логотипе объявили нежелательной в России. Решение приняла Генпрокуратура. В ведомстве считают, что о природе фонд заботится только для отвода глаз.'

In [5]:
normal_string = unicodedata.normalize('NFKD', string.lower())\
    .encode('ascii', 'ignore')\
    .decode('utf-8', 'ignore')

In [6]:
normal_string

'             -     wwf      .   .   ,         .'