In [1]:
import pandas as pd
import numpy as np
import re

1) Write a function named `is_vowel`. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of `re.search` as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
#Changing answer a bit to include any words that might just be a collection of vowels.

def is_vowel(string):
    return bool(re.search(r'\b[aeiou]+\b', string, re.IGNORECASE))

In [3]:
is_vowel('a')

True

In [4]:
is_vowel('A')

True

In [5]:
is_vowel('s')

False

In [6]:
is_vowel('apple')

False

In [7]:
is_vowel('UOIAUAI') #This means "twin"

True

2) Write a function named `is_valid_username` that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either `True` or `False` depending on whether the passed string is a valid username.

```
>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
>>> is_valid_username('codeup')
True
>>> is_valid_username('Codeup')
False
>>> is_valid_username('codeup123')
True
>>> is_valid_username('1codeup')
False
```

In [59]:
def is_valid_username(string):
    return bool(re.search(r'\b[a-z][a-z0-9_]{0,31}\b', string)) # \w also includes _ character

In [60]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [61]:
is_valid_username('codeup')

True

In [62]:
is_valid_username('Codeup')

False

In [63]:
is_valid_username('codeup123')

True

In [64]:
is_valid_username('1codeup')

False

In [65]:
is_valid_username('johnny_locklear_52')

True

In [66]:
is_valid_username('johnny_Locklear_52')

False

3) Write a regular expression to capture phone numbers. It should match all of the following:

```
(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
```

In [15]:
def is_valid_phone_number(string):
    return bool(re.search(r'[+0-9]*\(*\d{0,3}\)*[\.\-\s]*\d{3}[\.\-\s]*\d{4}', string))

In [16]:
is_valid_phone_number('(210) 867 5309')

True

In [17]:
is_valid_phone_number('+1 210.867.5309')

True

In [18]:
is_valid_phone_number('867-5309')

True

In [19]:
is_valid_phone_number('210-867-5309')

True

4) Use regular expressions to convert the dates below to the standardized year-month-day format.

```
02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19
```

In [20]:
def convert_us_date_to_standard(string):
    return re.sub(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2', string)

In [21]:
convert_us_date_to_standard('02/04/19')

'2019-02-04'

In [22]:
convert_us_date_to_standard('02/05/19')

'2019-02-05'

In [23]:
convert_us_date_to_standard('02/06/19')

'2019-02-06'

5) Write a regex to extract the various parts of these logfile lines:

```
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
```

In [24]:
log1 = 'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'
log2 = 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'
log3 = 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'

In [25]:
logfiles = pd.DataFrame()

for log in [log1, log2, log3]:
    match = re.search(r'''
            (?P<request_method>    [A-Z]{3,7})\s
            (?P<request_path>      /[^\s]+)\s
            \[(?P<timestamp>       \d{2}/[A-z]{3}/\d{4}:\d{6}\+\d{4})\]\s
            (?P<http_version>      HTTPS?/\d+.\d+)\s
            \{(?P<response>        \d{3})\}\s
            (?P<size>              \d+?)\s
            "(?P<user_agent>       .+)"\s
            (?P<ip_address>        (?:\d{1,3}\.){3}\d{1,3})
            ''', log, re.VERBOSE)
    logfiles = pd.concat([logfiles, pd.DataFrame([match.groupdict()])])
    
logfiles.reset_index(drop=True)

,request_method,request_path,timestamp,http_version,response,size,user_agent,ip_address
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

### Bonus Exercise

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [28]:
words = pd.read_clipboard()

In [29]:
words.to_csv('words.csv')

In [50]:
words = pd.read_csv('words.csv', keep_default_na=False, index_col=0)
words

                 A
0                a
1               aa
2              aal
3            aalii
4              aam
...            ...
235880      zythem
235881      Zythia
235882      zythum
235883     Zyzomys
235884  Zyzzogeton

[235885 rows x 1 columns]

In [67]:
#altv = at least three vowels

altv = []

for word in words.A:
    count = 0
    for letter in word:
        if is_vowel(letter):
            count += 1
    if count > 2:
        altv.append(word)
        
len(altv)

191365